<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="section-container">
    <div class="d-flex align-content-stretch flex-wrap overflow-auto">
      <% profiles.forEach(profile => { %>
        <a href="/profiles/<%=profile._id%>">
          <div class="card card-p">
            <img class="card-img-top" src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
            <div class="card-body overflow-auto">
              <h5 class="card-title box-bar"><%= profile.name %></h5>
            </div>
          </div>
        </a>
      <% }) %>
    </div>
  </section>
</main>

  <%- include('../partials/footer') %>