<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="section-container">
    <% if (profile.avatar) { %>
      <div class="profile-avatar">
          <img
          class="profile-avatar"
          src="<%= profile.avatar %>"
          alt="<%= profile.name %>'s avatar"
        >
      </div>
      <h3 class="p-on-black-color h3-name"><%= profile.name %> </h3>
      <div>
        <p class="p-on-black-color"><%=profile.description%></p>
      </div>
    <% } %>
  </section>
  <section class="section-container">
    <div>
    <div class="box-bar">
      <h1><%= isSelf ? 'Your Team' : 'Their Team' %> </h1>
    </div>
      <% if (hasTeams) { %> 
      <div class="d-flex align-content-stretch flex-wrap overflow-auto">
        <% teams.forEach(team => { %>
          <a href="/teams/<%= team._id %>">
            <div class="card"">
              <div class="card-body overflow-auto">
                <h5 class="card-title"><%= team.title %> </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <% team.pokemon?.forEach(pokemon => { %>
                    <img class="img-icon" src="<%= pokemon.icon%>" alt="<%= pokemon.name %>">
                  <% }) %>
                </h6>
                <p class="card-text p-on-black-size">
                  <%= team.description %> 
                </p>
              </div>
            </div>
          </a>
        <% }) %>
      <% } else { %>
        <p class="p-on-black-color p-on-black-size"> There are currently no teams... </p>
      <% } %>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>