<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1 class="box-bar">
    <%= title %>
  </h1>

  <section class="section-container">
    <form id="new-team-form" action="/teams/<%= team._id %>?_method=PUT" method="POST">
      <section class="box-title-desc">
        <label for="title-input">Title:</label>
        <input type="text" name="title" id="input-title" value="<%= team.title %>" autocomplete="off">
        <label for="desc-input">Description:</label>
        <textarea name="description" id="desc-input" autocomplete="off"><%= team.description %></textarea>
        <button type="submit" class="btn btn-primary">Save Team Description</button>
      </section>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>