<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="section-container">
    <div class="box-bar">
      <h2 class="header-inline-block">My Favorites</h2>
    </div>
    <% if (myFavorites.length !== 0 ) { %> 
    <div class="d-flex align-content-stretch flex-wrap overflow-auto">
      <% myFavorites.forEach(favorite => { %>
        <a href="/teams/<%= favorite._id %>">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">
                <%= favorite.title %> 
                <form action="/teams/<%= favorite._id %>/favorites?_method=DELETE" method="post">
                  <button class="btn btn btn-danger">Remove</button>
                </form>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                <% favorite.pokemon?.forEach(pokemon => { %>
                  <img class="img-icon" src="<%= pokemon.icon %>" alt="<%= pokemon.name %>">
                <% }) %>
              </h6>
              <p class="card-text">
                <%= favorite.description %> 
              </p>
              
            </div>
          </div>
        </a>
      <% }) %>
    <% } else { %>
      <p class="p-on-black-color"> You currently have no favorites. Try favoriting some teams! </p>
    <% } %>
    </div>
  </section>
  
  <section class="section-container">
    
    <div class="box-bar">
      <h2 class="header-inline-block">My Teams</h2>
      <a href="/teams/new">
        <button class="btn btn-primary btn-create-team">Create Team</button>
      </a>
    </div>
    
    <% if (myTeam.length !== 0 ) { %> 
    <div class="d-flex align-content-stretch flex-wrap overflow-auto">
      <% myTeam.forEach(team => { %>
        <a href="/teams/<%= team._id %>">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">
                <%= team.title %>
                <form action="/teams/<%= team._id %>?_method=DELETE" method="post">
                  <button class="btn btn btn-danger">Remove</button>
                </form>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                <% team.pokemon?.forEach(pokemon => { %>
                  <img class="img-icon" src="<%= pokemon.icon%>" alt="<%= pokemon.name %>">
                <% }) %>
              </h6>
              <p class="card-text">
                <%= myTeam.description %> 
              </p>
            </div>
          </div>
        </a>
      <% }) %>
    <% } else { %>
      <p class="p-on-black-color"> You currently have no teams. Let's make one! </p>
    <% } %>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
