<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>

  <section class="section-container overflow-auto">
      <section class="box-title-desc">
        <% if (!isSelf && profile.avatar) { %>
          <div class="box-bar">
            <a href="/profiles/<%= team.owner %>">
              <img
              class="profile-avatar"
              src="<%= profile.avatar %>"
              alt="<%= profile.name %>'s avatar"
            >
            </a>
          </div>
        <% } %>
        <h3 class="box-bar p-on-black-color h3-name"><%= team.title %> 
        <% if (isSelf) { %>
          <a href="/teams/<%= team._id %>/edit">
            <button class="btn btn-primary btn-update">Edit Team Description</button>
          </a>
        <% }  else if (isUser) { %>
          <% if( myProfile.favorites.some(item => item._id.equals(team._id)) ) { %>
            <form action="/teams/<%= team._id %>/favorites?_method=DELETE" method="post">
              <button class="btn btn-danger btn-update">Remove from Favorites</button>
            </form>
          <% } else {%>
            <form action="/teams/<%= team._id%>/favorites?_method=PATCH" method="POST">
              <button class="btn btn-primary btn-update">Add to Favorites</button>
            </form>
          <% } %>
        <% } %>
        
        </h3>
        <h5 class="p-on-black-color p-on-black-size"><%= team.description %> </h>
      </section>
      <section class="section-container">
        <% if (isSelf && pokemons.length < 6) { %>
          <section class="section-container">
            <form id="new-team-form" action="/teams/<%= team._id %>/pokemons" method="POST">
              <section class="box-title-desc">
        
                <label for="pokemon-name-select" class="form-label">Pokemon:</label>
                <input name="name" class="form-control" id="pokemon-name-select" list="pokemon-name-dlo" placeholder="Type to search..." autocomplete="off">
                <datalist id="pokemon-name-dlo">
                  <% list.forEach(pokemon=> { %>
                    <option value="<%= pokemon.name %>">
                      <% }) %>
                </datalist>
        
                <label for="pokemon-moves-input" class="form-label">Moves:</label>
                <input type="text" name="moves" id="pokemon-moves-input"
                  placeholder="Enter up to 4 moves separated by commas (,)"autocomplete="off">
              </section>
              <button type="submit" class="btn btn-primary btn-update">Add Pokemon</button>
            </form>
          </section>
        <% } %>
          <% if (pokemons.length !== 0 ) { %>
            <div class="d-flex align-content-stretch flex-wrap overflow-auto">
            <% pokemons.forEach(pokemon => { %>
                <div class="card" style="max-height:60rem;">
                  <img class="card-img-top mx-auto" src="<%= pokemon.icon %>" alt="Card image cap">
                  <div class="card-body overflow-auto">
                    <h5 class="card-title box-bar"><%= pokemon.name %>
                      <% if (isSelf) { %>
                        <form action="/teams/<%= team._id %>/pokemons/<%= pokemon._id%>?_method=DELETE" method="post">
                          <button class="btn btn-danger btn-cards">Remove</button>
                        </form>
                        <% } %> 
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      <ul class="p-on-black-size">
                      <% pokemon.moves.forEach(move => { %>
                        <li><%= move %> </li>
                      <% }) %>
                    </ul>
                    </h6>
                  </div>
                </div>
            <% }) %>
          <% } else { %>
            <p class="p-on-black-color"> There are currently no items </p>
          <% } %>
          </div>
      </section>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>
