<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>

  <section class="section-container">
      <section class="section-container box-title-desc">
        <label for="title-input">Title:</label>
        <input type="text" name="title" id="input-title" value="<%= teamTitle %>" placeholder="Enter a title...">
        <label for="title-input">Description:</label>
        <input type="text" name="title" id="input-title" value="<%= teamDesc %>" placeholder="Enter a description...">
        <button type="submit">Create Team</button>
      </section>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>
