<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>

  <section class="section-container">
      <section class="section-container box-title-desc">
        <h3><%= team.title %> </h3>
        <h5><%= team.description %> </h>
        <% if (isSelf) { %>
          <a href="/teams/<%= team._id %>/edit">
            <button>Edit Team Description</button>
          </a>
        <% }  else if (user) { %>
          <% if( myProfile.favorites.some(item => item._id.equals(team._id)) ) { %>
            <form action="/teams/<%= team._id %>/favorites?_method=DELETE" method="post">
              <button class="btn btn-primary">Remove from Favorites</button>
            </form>
          <% } else {%>
            <form action="/teams/<%= team._id%>/favorites?_method=PATCH" method="POST">
              <button>Add to Favorites</button>
            </form>
          <% } %>
        <% } %>
        <% if (!isSelf && profile.avatar) { %>
          <div>
            <a href="/profiles/<%= team.owner %>">
              <img
              class="profile-avatar"
              src="<%= profile.avatar %>"
              alt="<%= profile.name %>'s avatar"
            >
            </a>
          </div>
        <% } %>
      </section>
      <section class="section-container box-pokemon">
          <% if (pokemons.length !== 0 ) { %>
          <div class="card-container">
            <% pokemons.forEach(pokemon => { %>
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="<%= pokemon.icon %>" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title"><%= pokemon.name %> </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      <ul>
                      <% pokemon.moves.forEach(move => { %>
                        <li><%= move %> </li>
                      <% }) %>
                    </ul>
                    </h6>
                    <% if (isSelf) { %>
                    <form action="/teams/<%= team._id %>/pokemons/<%= pokemon._id%>?_method=DELETE" method="post">
                      <button class="btn btn-primary">Remove</button>
                    </form>
                    <% } %>
                  </div>
                </div>
            <% }) %>
          <% } else { %>
            <p class="p-on-black-color"> There are currently no items </p>
          <% } %>
          </div>
          <% if (isSelf && pokemons.length < 6) { %>
            <section class="section-container">
              <form id="new-team-form" action="/teams/<%= team._id %>/pokemons" method="POST">
                <section class="section-container box-pokemon">
          
                  <label for="pokemon-name-select" class="form-label">Pokemon:</label>
                  <input name="name" class="form-control" id="pokemon-name-select" list="pokemon-name-dlo" placeholder="Type to search...">
                  <datalist id="pokemon-name-dlo">
                    <% list.forEach(pokemon=> { %>
                      <option value="<%= pokemon.name %>">
                        <% }) %>
                  </datalist>
          
                  <label for="pokemon-moves-input" class="form-label">Moves:</label>
                  <input type="text" name="moves" id="pokemon-moves-input"
                    placeholder="Enter up to 4 moves separated by commas (,)">
                </section>
                <button type="submit">Add Pokemon</button>
              </form>
            </section>
          <% } %>
      </section>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>
