<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <main>
      <section class="box-container">
        <h1>
          <%= title %>
        </h1>
        <div>
          <% if (teams.length !==0 ) { %>
            <div class="d-flex align-content-stretch flex-wrap overflow-auto">
              <% teams.forEach(team=> { %>
                <a href="/teams/<%= team._id %>">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body overflow-auto">
                      <h5 class="card-title">
                        <%= team.title %>
                      </h5>
                      <h6 class="card-subtitle mb-2 text-muted">
                        <% team.pokemon?.forEach(pokemon=> { %>
                          <img class="img-icon" src="<%= pokemon.icon %>" alt="<%= pokemon.name %>">
                          <% }) %>
                      </h6>
                      <p class="card-text">
                        <%= team.description %>
                      </p>
                    </div>
                  </div>
                </a>
                <% }) %>
                  <% } else { %>
                    <p class="p-on-black-color"> There are currently no items </p>
                    <% } %>
            </div>
        </div>
      </section>
    </main>

    <%- include('../partials/footer') %>