<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div class="box-container overflow-auto">
    <div class="container">
        <% if (allTeams.length !==0 ) { %>
          <div id="carouselInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="height:300px;">
              <% for ( let i=0; i < allTeams.length; i++ ){ %>
                <div class="<%= i === 0 ? " carousel-item active": "carousel-item" %>" data-bs-interval="5000">
                  <div class="cards-wrapper">
                    <a href="/teams/<%= allTeams[i]._id %>">
                      <div class="card border-info mb-3" style="width: 100rem;font-size:24px;height:200rem">
                        <div class="card-body overflow-auto">
                          <h4 class="card-title">
                            <%= allTeams[i].title %>
                          </h4>
                          <h6 class="card-subtitle mb-2 text-muted">
                            <% allTeams[i].pokemon?.forEach(pokemon=> { %>
                              <img class="img-icon-c" src="<%= pokemon.icon%>" alt="<%= pokemon.name %>">
                              <% }) %>
                          </h6>
                          <p class="card-text">
                            <%= allTeams[i].description %>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <% } %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselInterval"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselInterval"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% } else { %>
          <p class="p-on-black-color"> There is currently no items </p>
        <% } %>
      </div>
    <div class="box-bar"></div>
    <div class="d-flex flex-column bd-highlight overflow-auto">
    <% if (loggedIn) { %>
      <div class="section-container"">
        <h2> My Favorites </h2>
        <% if (favorites.length !==0 ) { %>
        <div class=" d-flex align-content-stretch flex-wrap overflow-auto">
        <% favorites.forEach(team=> { %>
          <a href="/teams/<%= team._id %>">
            <div class="card">
              <div class="card-body overflow-auto">
                <h5 class="card-title">
                  <%= team.title %>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <% team.pokemon?.forEach(pokemon=> { %>
                    <img class="img-icon" src="<%= pokemon.icon %>" alt="<%= pokemon.name %>">
                    <% }) %>
                </h6>
                <p class="card-text">
                  <%= team.description %>
                </p>
              </div>
            </div>
          </a>
        <% }) %>
        <% } else { %>
          <p class="p-on-black-color"> There are currently no items </p>
        <% } %>
            </div>
        </div>
      <div class="section-container"">
        <h2> My Teams </h2>
        <% if (myTeams.length !==0 ) { %>
        <div class=" d-flex align-content-stretch flex-wrap overflow-auto">
        <% myTeams.forEach(team=> { %>
          <a href="/teams/<%= team._id %>">
            <div class="card">
              <div class="card-body overflow-auto">
                <h4 class="card-title">
                  <%= team.title %>
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">
                  <% team.pokemon?.forEach(pokemon=> { %>
                    <img class="img-icon" src="<%= pokemon.icon %>" alt="<%= pokemon.name %>">
                    <% }) %>
                </h6>
                <p class="card-text">
                  <%= team.description %>
                </p>
              </div>
            </div>
          </a>
        <% }) %>
        <% } else { %>
          <p class="p-on-black-color"> There are currently no items </p>
        <% } %>
      </div>
    </div>
    </section>
    <section class="section-container">
      <h2> All Teams </h2>
      <% if (allTeams.length !==0 ) { %>
        <div class="d-flex align-content-stretch flex-wrap overflow-auto">
          <% allTeams.forEach(team=> { %>
            <a href="/teams/<%= team._id %>">
              <div class="card"">
                <div class="card-body overflow-auto">
                  <h5 class="card-title">
                    <%= team.title %>
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <% team.pokemon?.forEach(pokemon=> { %>
                      <img class="img-icon" src="<%= pokemon.icon %>" alt="<%= pokemon.name %>">
                      <% }) %>
                  </h6>
                  <p class="card-text">
                    <%= team.description %>
                  </p>
                </div>
              </div>
            </a>
          <% }) %>
        <% } else { %>
          <p class="p-on-black-color"> There are currently no items </p>
        <% } %>
      </div>
    </section>
    <% } else { %>
      <section class="box-container">
        <div>
          <h2> All Teams </h2>
          <% if (allTeams.length !==0 ) { %>
            <div class="d-flex align-content-stretch flex-wrap overflow-auto">
              <% allTeams.forEach(team=> { %>
                <a href="/teams/<%= team._id %>">
                  <div class="card"">
                    <div class="card-body overflow-auto">
                      <h5 class="card-title">
                        <%= team.title %>
                      </h5>
                      <h6 class="card-subtitle mb-2 text-muted">
                        <% team.pokemon?.forEach(pokemon=> { %>
                          <img class="img-icon" src="<%= pokemon.icon %>" alt="<%= pokemon.name %>">
                          <% }) %>
                      </h6>
                      <p class="card-text">
                        <%= team.description %>
                      </p>
                    </div>
                  </div>
                </a>
                <% }) %>
                  <% } else { %>
                    <p class="p-on-black-color"> There are currently no items </p>
                    <% } %>
            </div>
        </div>
      </section>
    <% } %>
    </div>
  </div>
</main>

<%- include('./partials/footer') %>

